{include file="$esa_header"}
<div class="padding-md">
    <form class="form-horizontal no-margin form" method="POST">
        <div class="form-group">
            <label class="col-sm-2 control-label">天数</label>
            <div class="col-sm-10">
                {ESA:DATE name="vip_end_time" value="$info.vip_end_time|date='Y-m-d H:i:s'" format="YYYY-MM-DD HH:i:s"}
                <span class="help-block"></span>
            </div><!-- /.col -->
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">次数</label>
            <div class="col-sm-10">
                <input class="form-control" name="num" type="number" value="{$info.num|default='0'}">
                <span class="help-block"></span>
            </div><!-- /.col -->
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="id" value="{$info.id|default=''}">
                {:token()}
            </div><!-- /.col -->
        </div>
        <div class="form-group layer-footer">
            <label class="control-label col-xs-12 col-sm-2"></label>
            <div class="col-xs-12 col-sm-10">
                <button type="submit" class="btn btn-success btn-embossed">{if !empty($info.id)}保存{else}添加{/if}</button>
                <button type="button" class="btn btn-default btn-embossed layer-close">取消</button>
            </div>
        </div>
    </form>
</div>
<script>
    require(['esa_form','template'],function(form,Template,esa){
        function confirmCallback(){
            ESA.clog("弹窗确认回调");
        }
        form.init($(".form"),confirmCallback())
    })
</script>
{include file="$esa_footer"}