{include file="$esa_header"}
<div class="padding-md">
    <ul class="breadcrumb">
        <li>{$esa_addon.name}</li>	  
        <li>支付选项</li>
    </ul>
    
    <div class="smart-widget">
        <div id="table"></div>
    </div>
</div>
<script id="headToolbar" type="text/html">
    <div class="padding-sm">
        <button class="btn btn-info btn-sm" esa-event="reload"><i class="fa fa-refresh"></i></button>
        <button class="btn btn-success btn-sm" esa-event="form">添加</button>
    </div>
</script>
<script id="tool" type="text/html">
    <button class="btn btn-success btn-xs" esa-event="form">编辑</button>
    <button class="btn btn-danger btn-xs" esa-event="delete">删除</button>
</script>
<script>
require(['ESA','esa_table','layer',"esa_switch"],function(ESA,Table,layer){
    Table.init({
        elem: "#table",
        // select: "checkbox",
        page: true,
        cols: [
            {field:"id",width:"50px",title:"ID"},
            {field:"avatar",width:"150px",title:"头像",tpl:function(d){return '<img height="50px" src="'+d.sys_user.avatar+'">';}},
            {field:"sys_user.nickname",width:"200px",title:"用户名"},
            {field:"sys_user.username",width:"auto",title:"账号"},
            {field:"vip_end_time",width:"100px",title:"到期时间"},
            {field:"num",width:"100px",title:"剩余次数"},
            {field:"tool",width:"150px",title:"操作",toolbar:"#tool"}
        ],
        headToolbar:"#headToolbar",
        limit: 10,
    })
    
    
    Table.on("#table",function(obj){
        if(obj.event == "reload"){
            Table.reload("#table");
        }else if(obj.event == "form"){
            ESA.fun.open("{:esaurl('admin.users/form')}","添加",{
                data:{id:obj.data.id},
                callback: function(res){
                    Table.reload("#table");
                }
            });
        }else if(obj.event == "delete"){
            layer.confirm('删除此数据', {icon: 3, title:'确定删除此数据？'}, function(index){
                ESA.fun.ajax({
                    url: "{:esaurl('admin.users/delete')}",
                    data: {id: obj.data.id}
                },function(){
                    layer.close(index);
                    Table.reload("#table");
                })
            });
        }
    })
})
</script>
{include file="$esa_footer"}