{include file="$esa_header"}
<div class="padding-md">
    <ul class="breadcrumb">
        <li>{$esa_addon.name}</li>	  
        <li>订单列表</li>
    </ul>
    
    <div class="smart-widget">
        <div id="table"></div>
    </div>
</div>
<script id="headToolbar" type="text/html">
    <div class="padding-sm">
        <button class="btn btn-info btn-sm" esa-event="reload"><i class="fa fa-refresh"></i></button>
    </div>
</script>
<script id="tool" type="text/html">
    <button class="btn btn-success btn-xs" esa-event="form">编辑</button>
    <button class="btn btn-danger btn-xs" esa-event="delete">删除</button>
</script>
<script>
require(['ESA','esa_table','layer',"esa_switch"],function(ESA,Table,layer){
    Table.init({
        elem: "#table",
        // select: "checkbox",
        page: true,
        cols: [
            {field:"id",width:"50px",title:"ID"},
            {field:"sys_user.nickname",width:"200px",title:"用户名"},
            {field:"avatar",width:"150px",title:"图标",tpl:function(d){return '<img height="25px" src="'+d.sys_user.avatar+'">';}},
            {field:"sys_user.username",width:"200px",title:"账号"},
            {field:"fee",width:"auto",title:"支付金额"},
            {field:"day",width:"50px",title:"天数"},
            {field:"num",width:"50px",title:"次数"},
            {field:"siteStatus",width:"150px",title:"状态",tpl:function(d){return d.siteStatus == 0 ? "<span class='label label-warning'>未支付</span>" : "<span class='label label-success'>已支付</span>"}}
        ],
        headToolbar:"#headToolbar",
        limit: 12,
    })
    
    
    Table.on("#table",function(obj){
        if(obj.event == "reload"){
            Table.reload("#table");
        }
    })
})
</script>
{include file="$esa_footer"}