{include file="common/header"}
<div class="padding-md">
    <div class="row">
        <div class="col-sm-6">
            <div class="page-title">
                仪表盘
            </div>
            <div class="page-sub-header">
                欢迎{$esa_user->nickname}进入
            </div>
        </div>
    </div>
    <div class="row m-top-md">
        <div class="col-lg-3 col-sm-6">
            <div class="statistic-box bg-danger m-bottom-md">
                <div class="statistic-title">
                    会员到期时间
                </div>
                <div class="statistic-value">
                    <font id="servers_total" size="4">{if $user.vip_end_time < time()}会员已过期{else}{$user.vip_end_time|date='Y-m-d H:i:s'}{/if}</font>
                </div>
                <!--<div class="m-top-md">11% 比上周高</div>-->
                <div class="statistic-icon-background">
                    <i class="ion-eye"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="statistic-box bg-info m-bottom-md">
                <div class="statistic-title">
                    可用建站数量
                </div>
                <div class="statistic-value">
                    <font id="sites_total">{$user.num|default="0"}</font>
                </div>
                <!--<div class="m-top-md">8% 比上周高</div>-->
                <div class="statistic-icon-background">
                    <i class="ion-ios7-cart-outline"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="statistic-box bg-purple m-bottom-md">
                <div class="statistic-title">
                    服务器总数量
                </div>
                <div class="statistic-value">
                    <font id="sites_not_create">0.00</font>
                </div>
                <!--<div class="m-top-md">3% 比上周高</div>-->
                <div class="statistic-icon-background">
                    <i class="ion-person-add"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="statistic-box bg-success m-bottom-md">
                <div class="statistic-title">
                    站点总数量
                </div>
                <div class="statistic-value">
                    <font id="site_created">0</font>
                </div>
                <!--<div class="m-top-md">7% 比上周高</div>-->
                <div class="statistic-icon-background">
                    <i class="ion-stats-bars"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="smart-widget widget-dark-blue">
                <div class="smart-widget-header">
                    公告列表
                </div>
                <div class="smart-widget-inner">
                    <div class="smart-widget-body no-padding">
                        <div id="table"></div>
                    </div>
                </div><!-- ./smart-widget-inner -->
            </div><!-- ./smart-widget -->
        </div><!-- ./col -->
        <div class="col-lg-6">
            <div class="smart-widget widget-dark-blue">
                <div class="smart-widget-header">
                    购买列表
                </div>
                <div class="smart-widget-inner">
                    <div class="smart-widget-body no-padding">
                        <div class="padding-md">
                            <div class="row m-top-md">
                                {volist name="pays" id="item"}
                                <div class="col-md-3 col-sm-6">
                                    <div class="pricing-widget clean-pricing">
                                        <div class="pricing-type bg-info text-center">{$item.name}</div>
                                        <div class="pricing-value bg-grey">
                                        <span class="value">{$item.fee}</span>
                                    </div>
                                    
                                    <ul class="pricing-service m-top-sm">
                                        <li>时间 <span class="font-semi-bold">{$item.day}天</span></li>
                                        <li>站数  <span class="font-semi-bold">{$item.num}个</span></li>
                                    </ul>
                                    
                                    <div class="m-top-md m-bottom-md text-center">
                                        <a class="btn btn-info pay" data-id="{$item.id}">购买</a>
                                    </div>
                                    </div><!-- ./pricing-widget -->
                                </div><!-- .col -->
                                {/volist}
                            </div>
                        </div>
                    </div>
                </div><!-- ./smart-widget-inner -->
            </div><!-- ./smart-widget -->
        </div><!-- ./col -->
    </div>
</div>
<script>
    require(['ESA','esa_table',"jquery","ESA"],function(ESA,Table,$,ESA){
        Table.init({
            url: "{:esaurl('index.index/article')}",
            elem: "#table",
            page: true,
            cols: [
                {field:"id",width:"50px",title:"ID"},
                {field:"name",width:"200px",title:"名称"},
                // {field:"tool",width:"80px",title:"操作",toolbar:"#tool"}
            ],
            limit: 20,
        })
        $(".pay").on("click",function(){
            pay_id = $(this).data("id");
            if(pay_id == "" || pay_id == null){
                layer.msg("请选择一个商品下单！");
                return ;
            }
            
            ESA.fun.ajax({
                url     :"{:esaurl('index.index/pay')}",
                data    :{id:pay_id},
                dataType:"html",
            },function(d){
                layer.open({
                    type: 1,
                    title: false, //不显示标题栏
                    area: '300px;',
                    id: 'payment', //设定一个id，防止重复弹出
                    resize: false,
                    btnAlign: 'c',
                    moveType: 1,
                    content: d,
                    // cancel: function(index, layero){
                    //     layer.confirm('订单已生成但未支付，是否进入订单页继续支付？', {icon: 3, title:'温馨提示'}, function(index){
                    //         layer.msg("跳转至订单页");
                    //         layer.close(index);
                    //         window.location.href = "{:url('index/order/index')}";
                    //     },function(){
                    //         Table.reload("#order_table");
                    //     });
                    // }
                });
                return false;
            })
        })
    })
</script>

{include file="common/footer"}