{include file="common/header"}
<!-- wrapper start -->
<div class="wrapper">
    <!-- header start -->
    <header class="top-nav">
        <div class="top-nav-inner">
            <!-- left title -->
            <div class="nav-header">
                <a href="{:esaurl('index.index/index')}" class="brand" style="height: 100%;">
                    <i class="{$config.basics.logo|default='fa fa-database'}"></i><span class="brand-name"> {$config.basics.site_name|raw}</span>
                </a>
            </div>
            <!-- right info -->
            <div class="nav-container">
                <!-- 菜单伸缩按钮 -->
                <button type="button" class="navbar-toggle pull-left sidebar-toggle" id="sidebarToggleLG">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="pull-right m-right-sm">
                    <!-- 用户信息 -->
                    <div class="user-block hidden-xs">
                        <a href="#" id="userToggle" data-toggle="dropdown">
                            <img src="{if isset($esa_user->avatar) && !empty($esa_user->avatar)}{$esa_user->avatar|attach2url}{else}__STATIC__/images/default/persion.png{/if}" alt="" class="img-circle inline-block user-profile-pic">
                            <div class="user-detail inline-block">
                                {$esa_user->name|default=""}
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </a>
                        <div class="panel border dropdown-menu user-panel pull-right">
                            <div class="panel-body paddingTB-sm">
                                <ul>
                                    <li>
                                        <a href="{:url('index/user/logout',['PLATFORM_ID'=>PLATFORM_ID])}">
                                            <i class="fa fa-power-off fa-lg"></i><span class="m-left-xs">登出</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <!-- left menu start -->
    <aside class="sidebar-menu fixed">
        <div class="sidebar-inner scrollable-sidebar">
            <div class="main-menu" data-type="system" data-id="system_menu">
                <ul class="accordion">
                    <li class="bg-palette1 active">
                        <a href="{:esaurl('index.index/dashboard')}" target="main-content">
                            <span class="menu-content block">
                                <span class="menu-icon"><i class="block fa fa-home fa-lg"></i></span>
                                <span class="text m-left-sm">首页</span>
                            </span>
                            <span class="menu-content-hover block">
                                首页
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-menu hide" data-type="platform">
                <ul class="accordion">
                    <li class="bg-palette4 active">
                        <a href="{:url('platform/index')}" onclick="window.main.fun.backMenu('system');" target="main-content">
                            <span class="menu-content block">
                                <span class="menu-icon"><i class="block fa fa-chevron-left"></i></span>
                                <span class="text m-left-sm">返回到系统</span>
                            </span>
                            <span class="menu-content-hover block">
                                返回
                            </span>
                        </a>
                    </li>
                    <li class="menu-header">
                        平台管理菜单
                    </li>
                </ul>
            </div>
            <div class="main-menu hide" data-type="addon">
                <ul class="accordion">
                    <li class="bg-palette4 active">
                        <a href="{:url('platform/addons')}" onclick="window.main.fun.backMenu('platform');"  target="main-content">
                            <span class="menu-content block">
                                <span class="menu-icon"><i class="block fa fa-chevron-left"></i></span>
                                <span class="text m-left-sm">返回到平台</span>
                            </span>
                            <span class="menu-content-hover block">
                                返回
                            </span>
                        </a>
                    </li>
                    <li class="menu-header">
                        Main Menu
                    </li>
                </ul>
            </div>
            <div class="sidebar-fix-bottom clearfix">
                <div class="user-dropdown dropup pull-left">
                    <a href="#" class="dropdwon-toggle font-18" data-toggle="dropdown"><i class="ion-person-add"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="inbox.html">
                                Inbox
                                <span class="badge badge-danger bounceIn animation-delay2 pull-right">1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Notification
                                <span class="badge badge-purple bounceIn animation-delay3 pull-right">2</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="sidebarRight-toggle">
                                Message
                                <span class="badge badge-success bounceIn animation-delay4 pull-right">7</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">Setting</a>
                        </li>
                    </ul>
                </div>
                <a href="lockscreen.html" class="pull-right font-18"><i class="ion-log-out"></i></a>
            </div>
        </div><!-- sidebar-inner -->
    </aside>
    <!-- left menu end -->
    
    <!-- main-container start -->
    <div class="main-container" style="position: fixed;height: 100%;padding-bottom: 5%;">
        <div id="iframe_loading" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;height: 2px;position: absolute;"></div>
        <iframe id="main-content" name="main-content" src="{$dashboard}" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling-x="no" scrolling-y="auto" allowtransparency="yes"></iframe>
    </div>
    <!-- main-container end -->

    <!-- footer start -->
    <footer class="footer">
        <span class="footer-brand">
            {$esa_config.site.footer|default='<strong class="text-danger">ESA</strong> Admin管理系统'|raw|htmlspecialchars_decode}
        </span>
        <p class="no-margin">
            {$esa_config.site.beian|default="Copyright © 2020-2020 <a href='https://www.esaadmin.com/' target='view_window'> ESA Admin</a>. All Rights Reserved."|raw|htmlspecialchars_decode}
        </p>	
    </footer>
    <!-- footer end -->
</div>
<!-- wrapper end -->
{include file="common/footer"}